*{
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.headerContainer{
  max-width: 900px;
  margin: 40px auto;
}

.container{
  display: flex;
  max-width: 900px;
  margin: auto;
}
.container .leftSide{
  flex: 1;
  margin-right: 40px;
  min-height: 438px;
}
.container .leftSide h1{
  margin: 0;
  font-size: 40px;
  color: #3A4B5C;
}
.container .leftSide p{
  font-size: 16px;
  margin-bottom: 40px;
  color: #6A7D8B;
}
.container .leftSide input{
  width: 100%;
  border: 0;
  border-bottom: 2px solid rgba(150, 163, 171, .5);
  padding: 10px 2px;
  margin-bottom: 20px;
  font-size: 14px;
  outline: 0;
}
.container .leftSide input:disabled{
  opacity: .5;
}
.container .leftSide button{
  background-color: #227C9D;
  color: white;
  font-size: 15px;
  border: 0;
  border-radius: 10px;
  padding: 15px 0;
  width: 100%;
  cursor: pointer;
  margin-top: 40px;
  transition: all ease 0.3s;
}
.container .leftSide button:hover{
  opacity: 0.8;
}
.container .leftSide button:disabled{
  opacity: .5;
  cursor: default;
}



.container .rightSide{
  flex: 1;
  margin-left: 40px;
  display: flex;
}
.container .rightSide .grid{
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.container .rightSide .rightBig{
  flex: 1;
  display: flex;
}
.container .rightSide .rightArrow{
  position: absolute;
  background-color: #227C9D;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: -35px;
  margin-top: 145px;
  transition: all ease 0.3s;
}
.container .rightSide .rightArrow:hover{
  opacity: 0.8;
}

@media (max-width: 960px){
  body{
    height: auto;
  }
  .container{
    flex-direction: column;
  }

  .container .leftSide{
    margin: 0;
  }

  .container .leftSide input{
    font-size: 18px;
    padding: 30px 16px;
  }

  .container .leftSide button{
    height: 100px;
    margin-bottom: 40px;
  }

  .container .rightSide{
    margin: 0;
  }
}

@media (max-width: 918px){
  body{
    height: auto;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 500px){
  .container .leftSide h1, p{
    text-align: center;
  }

  .container .rightSide .grid{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}